@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

$c-light-cyan: hsl(193, 38%, 86%);
$c-neon-green: hsl(150, 100%, 66%);

$c-grayish-blue: hsl(217, 19%, 38%);
$c-dark-blue: hsl(229, 57%, 11%);
$c-dark-grayish-blue: hsl(217, 19%, 24%);

// Resets ===============================================
html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
}
a, li, h1, h2, p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

ul {
    display: inline;  
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}


// Main ===============================================

.page {
    
}

.advice__ {
    .advice__id {

    }

    .advice__txt {
        .advice__txt__qoute {
            
        }
    }

    .advice__divider {

    }

    .advice__btn {
        .advice__btn__icon {

        }
    }
}

.footer {

}