@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #1f2632;
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 28px;
}

a, li, h1, h2, p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page {
  background-color: #1f2632;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  min-height: 90vh;
  padding: 1rem;
}

.advice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100%;
}

.advice .advice__container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(78, 93, 115, 0.4);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  padding: 2.4rem 1rem;
}

.advice .advice__id {
  color: #52ffa8;
  font-family: 'Manrope';
  font-size: .65rem;
  letter-spacing: .25rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.advice .advice__txt {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  color: #cee3e9;
  text-align: center;
  font-family: 'Manrope';
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: .05rem;
  margin-bottom: 1.7rem;
}

.advice .advice__divider {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  margin-bottom: 1.2rem;
}

.advice .advice__btn {
  cursor: pointer;
  background-color: #52ffa8;
  position: absolute;
  bottom: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.advice .advice__btn .advice__btn__icon {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.advice .advice__btn:active {
  -webkit-box-shadow: 0 0 2.2rem 0.25rem #52ffa8;
          box-shadow: 0 0 2.2rem 0.25rem #52ffa8;
}

@media screen and (min-width: 850px) {
  .advice {
    width: 37.2rem;
  }
  .advice .advice__container {
    border-radius: 15px;
    padding: 3.4rem 3.3rem;
  }
  .advice .advice__id {
    font-size: .85rem;
    margin-bottom: 2.3rem;
  }
  .advice .advice__txt {
    font-size: 1.75rem;
    margin-bottom: 2.75rem;
  }
  .advice .advice__divider {
    content: url("../images/pattern-divider-desktop.svg");
  }
}
/*# sourceMappingURL=main.css.map */