@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

$c-light-cyan: hsl(193, 38%, 86%);
$c-neon-green: hsl(150, 100%, 66%);

$c-grayish-blue: hsl(217, 19%, 38%);
$c-dark-blue: hsl(229, 57%, 11%);
$c-dark-grayish-blue: hsl(218, 23%, 16%);

// Resets ===============================================
html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: $c-dark-grayish-blue;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
}
a, li, h1, h2, p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

ul {
    display: inline;  
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}


// Main ===============================================

.page {
    background-color: $c-dark-grayish-blue;

    display: flex;
    justify-content: center;
    align-content: center;

    width: 100%;
    min-height: 90vh;

    padding: 1rem;
}

.advice {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100%;
    .advice__container {
        user-select: none;
        background-color: rgba($c-grayish-blue, $alpha: .4);
        
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 9px;

        padding: 2.4rem 1rem;
    }

    .advice__id {
        color: $c-neon-green;

        font-family: 'Manrope';
        font-size: .65rem;
        letter-spacing: .25rem;
        text-transform: uppercase;

        margin-bottom: 2rem;
    }

    .advice__txt {
        
        user-select: text;
        color: $c-light-cyan;
        text-align: center;
        font-family: 'Manrope';
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: .05rem;

        margin-bottom: 1.7rem;

        .advice__txt__qoute {
        }
    }

    .advice__divider {
        user-select: none;
        width: 100%;
        margin-bottom: 1.2rem;
    }

    .advice__btn {
        cursor: pointer;
        background-color: $c-neon-green;

        position: absolute;        
        bottom: -2rem;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 4rem;
        height: 4rem;

        border-radius: 50%;
        .advice__btn__icon {
            user-select: none;
            pointer-events: none;
        }
    }
    .advice__btn:active {
        box-shadow: 0 0 2.2rem .25rem $c-neon-green;
    }
}

.footer {
    display: none;
}

@media screen and (min-width: 850px) {

    .advice {
        width: 37.2rem;
        .advice__container {
            border-radius: 15px;
    
            padding: 3.4rem 3.3rem;
        }
    
        .advice__id {
            font-size: .85rem;
    
            margin-bottom: 2.3rem;
        }
    
        .advice__txt {
            font-size: 1.75rem;
            margin-bottom: 2.75rem;
        }
    
        .advice__divider {
            content: url('../images/pattern-divider-desktop.svg');
        }
    }
    
}